@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lato&display=swap');

html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

#hero {
  background: rgb(242, 242, 255);
  background: linear-gradient(
    33deg,
    rgba(242, 242, 255, 1) 0%,
    rgba(235, 249, 255, 1) 100%
  );
  overflow: hidden;
  height: 100vh;
  max-width: inherit;
}

#hero .btn {
  border-radius: 0;
  border: 2px solid var(--white);
  background-color: var(--primary-color) !important;
  color: var(--off-white);
}

#hero .btn:hover {
  border-radius: 60px;
  transition: all 0.4s ease;
}

/* PORTFOLIO PROJECTS SHOWCASE {{ WEBDEV }} */

#portfolio {
  background: url(../public/images/portfolio-bg.png) top/cover;
  max-width: inherit;
}

.portfolio-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  display: flex;
  align-items: flex-end;
  padding: 30px;
  opacity: 0;
 }
 .portfolio-item img{
  /* transform: skewX(349); */
  width: 100%;
 }
 .portfolio-item:hover .portfolio-overlay {
  opacity: 0.95;
 }
 .portfolio-item:hover img {
  transform: scale(1.1);
 }
 .portfolio-item img,
 .portfolio-item .portfolio-overlay {
  transition: all 0.4s ease;
 }
